body {
  font-size: 100%;
  font-family: "Samim", "sans-serif";
  direction: rtl;
}

@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

div.container-fluid.signup {
  width: 100%;
  height: 110vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.container-fluid.signup section.section-left {
  background-color: #6c204c;
  width: 40%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.container-fluid.signup section.section-left div.section-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100%;
}

div.container-fluid.signup section.section-left div.section-login a.registered {
  color: #ffffff;
  text-decoration: none;
  font-size: 100%;
  width: 100%;
  text-align: center;
}

div.container-fluid.signup section.section-left div.section-login a.registered:hover, div.container-fluid.signup section.section-left div.section-login a.registered:focus {
  color: rgba(255, 255, 255, 0.7);
}

div.container-fluid.signup section.section-left div.section-login a.registered:active, div.container-fluid.signup section.section-left div.section-login a.registered:focus {
  outline: none;
}

div.container-fluid.signup section.section-left div.section-login a.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

div.container-fluid.signup section.section-left div.section-login a.login-link:active, div.container-fluid.signup section.section-left div.section-login a.login-link:focus {
  outline: none;
}

div.container-fluid.signup section.section-left div.section-login a.login-link button.login-button {
  background-color: #ffffff;
  color: #6c204c;
  border-color: #6c204c;
  font-size: 90%;
  width: 40%;
  font-weight: 600;
}

div.container-fluid.signup section.section-left div.section-login a.login-link button.login-button:hover, div.container-fluid.signup section.section-left div.section-login a.login-link button.login-button:focus {
  border-color: white;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

div.container-fluid.signup section.section-left div.section-login a.login-link button.login-button:focus, div.container-fluid.signup section.section-left div.section-login a.login-link button.login-button:active {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

div.container-fluid.signup section.section-right {
  height: 100%;
  width: 60%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.container-fluid.signup section.section-right img.logo {
  width: 28%;
  margin-bottom: 2rem;
}

div.container-fluid.signup section.section-right form.signup-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container-fluid.signup section.section-right form.signup-form div.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

div.container-fluid.signup section.section-right form.signup-form div.form-group input {
  width: 100%;
  font-size: 88%;
  padding: .5rem;
  height: 37px;
  margin-top: .7rem;
}

div.container-fluid.signup section.section-right form.signup-form div.form-group input:focus {
  box-shadow: 0 0 0 0.15rem rgba(176, 176, 178, 0.25);
  border-color: rgba(149, 154, 162, 0.35);
}

div.container-fluid.signup section.section-right form.signup-form div.form-group div.srv-validation-message {
  width: 100%;
  color: #ffffff;
  font-size: 85%;
  border: 1px solid #dc3545;
  border-radius: 4px;
  background-color: rgba(220, 53, 69, 0.7);
  padding: .5rem;
  margin-top: .08rem;
  text-align: right;
}

div.container-fluid.signup section.section-right form.signup-form div.button-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-fluid.signup section.section-right form.signup-form div.button-section button.register {
  color: #6c204c;
  border-color: #6c204c;
  background-color: transparent;
  font-weight: bold;
  width: 50%;
}

div.container-fluid.signup section.section-right form.signup-form div.button-section button.register:hover, div.container-fluid.signup section.section-right form.signup-form div.button-section button.register:focus {
  border-color: rgba(108, 32, 76, 0.35);
  background-color: #6c204c;
  color: white;
  font-weight: 500;
}

div.container-fluid.signup section.section-right form.signup-form div.button-section button.register:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 32, 76, 0.25);
}
/*# sourceMappingURL=Signup.css.map */